<% if object.errors.any? %>
  <h3><%= pluralize(object.errors.count, "error") %> found. Please review the fields and submit again.</h3>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
